/*
|--------------------------------------------------------------------------
| About Page
|--------------------------------------------------------------------------
*/

.gallery {

    max-width: var(--container-width);

    margin: 0 auto;

    background: white;

    border-radius: 1.25rem 1.25rem 0 0;

    overflow: hidden;

    box-shadow: var(--shadow-lg);
}

/*
|--------------------------------------------------------------------------
| Gallery Hero
|--------------------------------------------------------------------------
*/

.gallery-hero {

    margin-top: -110px;
    padding-top: 110px;
    padding-bottom: 0rem;
}

.gallery-hero-card {
    position: relative;

    height: 540px;

    border-radius: 1.25rem 1.25rem 0 0;

    overflow: hidden;

    box-shadow: none;
}

.gallery-hero-background {
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;

    z-index: 1;

    transform: scale(1.02);
}

.gallery-hero-gradient {

    position: absolute;

    inset: 0;

    background:

        /* Branco no topo */

        linear-gradient(
            to bottom,
            rgba(255,255,255,1) 0%,
            rgba(255,255,255,.98) 12%,
            rgba(255,255,255,.88) 24%,
            rgba(255,255,255,.55) 40%,
            rgba(255,255,255,0) 60%
        ),

        /* Branco na esquerda */

        linear-gradient(
            to right,
            rgba(255,255,255,.99) 0%,
            rgba(255,255,255,.96) 18%,
            rgba(255,255,255,.82) 34%,
            rgba(255,255,255,.40) 55%,
            rgba(255,255,255,0) 72%
        ),

        /* Branco em baixo */

        linear-gradient(
            to top,
            rgba(255,255,255,1) 0%,
            rgba(255,255,255,.92) 12%,
            rgba(255,255,255,.70) 24%,
            rgba(255,255,255,.25) 42%,
            rgba(255,255,255,0) 60%
        );

    z-index: 2;
}

.gallery-hero-content {

    position: relative;

    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 40%;

    height: 100%;

    padding-left: 3rem;
    padding-top: 9rem;
}

.gallery-hero-title {
    margin: 0;

    color: var(--color-text);

    font-size: clamp(2.4rem, 3vw, 3.5rem);

    line-height: 1.12;

    font-weight: 700;
}

.gallery-hero-title span {

    color: var(--color-primary);
}

.gallery-hero-text {

    margin-top: 2rem;

    max-width: 460px;

    color: var(--color-text);

    font-size: 1.2rem;

    line-height: 1.8;
}